In [2]:
import pandas as pd
import numpy as np

In [3]:
customer = pd.read_excel("AdventureWorks_Database.xlsx", sheet_name="Customers")

In [4]:
product = pd.read_excel("AdventureWorks_Database.xlsx", sheet_name="Product")

In [5]:
teri = pd.read_excel("AdventureWorks_Database.xlsx", sheet_name="Territory")

In [6]:
sales = pd.read_excel("AdventureWorks_Database.xlsx", sheet_name="Sales")

In [7]:
customer.columns

Index(['CustomerKey', 'FirstName', 'LastName', 'FullName', 'BirthDate',
       'MaritalStatus', 'Gender', 'YearlyIncome', 'TotalChildren',
       'NumberChildrenAtHome', 'Education', 'Occupation', 'HouseOwnerFlag',
       'NumberCarsOwned', 'AddressLine1', 'DateFirstPurchase',
       'CommuteDistance'],
      dtype='object')

In [8]:
customer.drop(columns=['FirstName', 'LastName','BirthDate',
       'MaritalStatus', 'TotalChildren',
       'NumberChildrenAtHome', 'Education',  'HouseOwnerFlag',
       'NumberCarsOwned', 'AddressLine1', 'DateFirstPurchase',
       'CommuteDistance'], inplace= True)

In [9]:
sales.columns

Index(['ProductKey', 'OrderDate', 'ShipDate', 'CustomerKey', 'PromotionKey',
       'SalesTerritoryKey', 'SalesOrderNumber', 'SalesOrderLineNumber',
       'OrderQuantity', 'UnitPrice', 'TotalProductCost', 'SalesAmount',
       'TaxAmt'],
      dtype='object')

In [10]:
sales.drop(columns = [ 'PromotionKey', 'SalesOrderNumber', 'SalesOrderLineNumber'], inplace= True)

In [11]:
product.columns

Index(['ProductKey', 'ProductName', 'SubCategory', 'Category', 'StandardCost',
       'Color', 'ListPrice', 'DaysToManufacture', 'ProductLine', 'ModelName',
       'Photo', 'ProductDescription', 'StartDate'],
      dtype='object')

In [12]:
product.drop(columns=['StandardCost', 'Color', 'ListPrice', 'Photo', 'ProductDescription', 'StartDate'], inplace= True)

In [13]:
teri.columns

Index(['SalesTerritoryKey', 'Region', 'Country', 'Group', 'RegionImage'], dtype='object')

In [14]:
teri.drop(columns=['RegionImage'], inplace= True)

In [15]:
pd.options.display.max_rows = 10000

In [16]:
product.SubCategory.unique()

array([nan, 'Road Frames', 'Helmets', 'Socks', 'Caps', 'Jerseys',
       'Mountain Frames', 'Road Bikes', 'Mountain Bikes', 'Forks',
       'Headsets', 'Handlebars', 'Wheels', 'Shorts', 'Panniers', 'Locks',
       'Pumps', 'Lights', 'Tights', 'Bib-Shorts', 'Gloves', 'Vests',
       'Bottles and Cages', 'Tires and Tubes', 'Bike Racks', 'Cleaners',
       'Fenders', 'Bike Stands', 'Hydration Packs', 'Touring Frames',
       'Derailleurs', 'Saddles', 'Pedals', 'Brakes', 'Cranksets',
       'Chains', 'Touring Bikes', 'Bottom Brackets'], dtype=object)

In [17]:
product.Category.unique()

array([nan, 'Components', 'Accessories', 'Clothing', 'Bikes'],
      dtype=object)

In [18]:
product[product.SubCategory.isnull() | product.Category.isnull() | product.ProductLine.isnull()].head()

,ProductKey,ProductName,SubCategory,Category,DaysToManufacture,ProductLine,ModelName
0,1,Adjustable Race,NaN,NaN,0,NaN,NaN
1,2,Bearing Ball,NaN,NaN,0,NaN,NaN
2,3,BB Ball Bearing,NaN,NaN,1,NaN,NaN
3,4,Headset Ball Bearings,NaN,NaN,0,NaN,NaN
4,5,Blade,NaN,NaN,1,NaN,NaN

In [19]:
product[product.SubCategory.isnull() | product.Category.isnull() | product.ProductLine.isnull()].ProductName.unique()

array(['Adjustable Race', 'Bearing Ball', 'BB Ball Bearing',
       'Headset Ball Bearings', 'Blade', 'LL Crankarm', 'ML Crankarm',
       'HL Crankarm', 'Chainring Bolts', 'Chainring Nut', 'Chainring',
       'Crown Race', 'Chain Stays', 'Decal 1', 'Decal 2', 'Down Tube',
       'Mountain End Caps', 'Road End Caps', 'Touring End Caps',
       'Fork End', 'Freewheel', 'Flat Washer 1', 'Flat Washer 6',
       'Flat Washer 2', 'Flat Washer 9', 'Flat Washer 4', 'Flat Washer 3',
       'Flat Washer 8', 'Flat Washer 5', 'Flat Washer 7', 'Fork Crown',
       'Front Derailleur Cage', 'Front Derailleur Linkage',
       'Guide Pulley', 'LL Grip Tape', 'ML Grip Tape', 'HL Grip Tape',
       'Thin-Jam Hex Nut 9', 'Thin-Jam Hex Nut 10', 'Thin-Jam Hex Nut 1',
       'Thin-Jam Hex Nut 2', 'Thin-Jam Hex Nut 15', 'Thin-Jam Hex Nut 16',
       'Thin-Jam Hex Nut 5', 'Thin-Jam Hex Nut 6', 'Thin-Jam Hex Nut 3',
       'Thin-Jam Hex Nut 4', 'Thin-Jam Hex Nut 13', 'Thin-Jam Hex Nut 14',
       'Thin-Jam Hex Nut 7', 'Thin-Jam Hex Nut 8', 'Thin-Jam Hex Nut 12',
       'Thin-Jam Hex Nut 11', 'Hex Nut 5', 'Hex Nut 6', 'Hex Nut 16',
       'Hex Nut 17', 'Hex Nut 7', 'Hex Nut 8', 'Hex Nut 9', 'Hex Nut 22',
       'Hex Nut 23', 'Hex Nut 12', 'Hex Nut 13', 'Hex Nut 1',
       'Hex Nut 10', 'Hex Nut 11', 'Hex Nut 2', 'Hex Nut 20',
       'Hex Nut 21', 'Hex Nut 3', 'Hex Nut 14', 'Hex Nut 15', 'Hex Nut 4',
       'Hex Nut 18', 'Hex Nut 19', 'Handlebar Tube', 'Head Tube',
       'LL Hub', 'HL Hub', 'Keyed Washer', 'External Lock Washer 3',
       'External Lock Washer 4', 'External Lock Washer 9',
       'External Lock Washer 5', 'External Lock Washer 7',
       'External Lock Washer 6', 'External Lock Washer 1',
       'External Lock Washer 8', 'External Lock Washer 2',
       'Internal Lock Washer 3', 'Internal Lock Washer 4',
       'Internal Lock Washer 9', 'Internal Lock Washer 5',
       'Internal Lock Washer 7', 'Internal Lock Washer 6',
       'Internal Lock Washer 10', 'Internal Lock Washer 1',
       'Internal Lock Washer 8', 'Internal Lock Washer 2',
       'Thin-Jam Lock Nut 9', 'Thin-Jam Lock Nut 10',
       'Thin-Jam Lock Nut 1', 'Thin-Jam Lock Nut 2',
       'Thin-Jam Lock Nut 15', 'Thin-Jam Lock Nut 16',
       'Thin-Jam Lock Nut 5', 'Thin-Jam Lock Nut 6',
       'Thin-Jam Lock Nut 3', 'Thin-Jam Lock Nut 4',
       'Thin-Jam Lock Nut 13', 'Thin-Jam Lock Nut 14',
       'Thin-Jam Lock Nut 7', 'Thin-Jam Lock Nut 8',
       'Thin-Jam Lock Nut 12', 'Thin-Jam Lock Nut 11', 'Lock Nut 5',
       'Lock Nut 6', 'Lock Nut 16', 'Lock Nut 17', 'Lock Nut 7',
       'Lock Nut 8', 'Lock Nut 9', 'Lock Nut 22', 'Lock Nut 23',
       'Lock Nut 12', 'Lock Nut 13', 'Lock Nut 1', 'Lock Nut 10',
       'Lock Nut 11', 'Lock Nut 2', 'Lock Nut 20', 'Lock Nut 21',
       'Lock Nut 3', 'Lock Nut 14', 'Lock Nut 15', 'Lock Nut 4',
       'Lock Nut 19', 'Lock Nut 18', 'Lock Ring', 'Lower Head Race',
       'Lock Washer 4', 'Lock Washer 5', 'Lock Washer 10',
       'Lock Washer 6', 'Lock Washer 13', 'Lock Washer 8',
       'Lock Washer 1', 'Lock Washer 7', 'Lock Washer 12',
       'Lock Washer 2', 'Lock Washer 9', 'Lock Washer 3',
       'Lock Washer 11', 'Metal Angle', 'Metal Bar 1', 'Metal Bar 2',
       'Metal Plate 2', 'Metal Plate 1', 'Metal Plate 3', 'Metal Sheet 2',
       'Metal Sheet 3', 'Metal Sheet 7', 'Metal Sheet 4', 'Metal Sheet 5',
       'Metal Sheet 6', 'Metal Sheet 1', 'Metal Tread Plate', 'LL Nipple',
       'HL Nipple', 'Paint - Black', 'Paint - Red', 'Paint - Silver',
       'Paint - Blue', 'Paint - Yellow', 'Pinch Bolt', 'Cup-Shaped Race',
       'Cone-Shaped Race', 'Reflector', 'LL Mountain Rim',
       'ML Mountain Rim', 'HL Mountain Rim', 'LL Road Rim', 'ML Road Rim',
       'HL Road Rim', 'Touring Rim', 'LL Mountain Seat Assembly',
       'ML Mountain Seat Assembly', 'HL Mountain Seat Assembly',
       'LL Road Seat Assembly', 'ML Road Seat Assembly',
       'HL Road Seat Assembly', 'LL Touring Seat Assembly',
       'ML Touring Seat Assembly', 'HL Touring Seat Assembly',
       'LL Spindle/Axle', 'HL Spindle/Axle', 'LL Shell', 'HL Shell',
       'Spokes', 'Seat Lug', 'Stem', 'Seat Post', 'Steerer', 'Seat Stays',
       'Seat Tube', 'Top Tube', 'Tension Pulley', 'Rear Derailleur Cage',
       'LL Fork', 'ML Fork', 'HL Fork', 'LL Headset', 'ML Headset',
       'HL Headset', 'Rear Derailleur', 'Front Derailleur',
       'Front Brakes', 'LL Crankset', 'ML Crankset', 'HL Crankset',
       'Chain', 'Rear Brakes', 'LL Bottom Bracket', 'ML Bottom Bracket',
       'HL Bottom Bracket'], dtype=object)

In [20]:
null_product = product[product.SubCategory.isnull() | product.Category.isnull() | product.ProductLine.isnull()]

In [21]:
len(null_product)

226

In [25]:
len(product)

606

In [1]:
new_product = pd.read_excel(r"C:\Users\DELL\Desktop\Datasets\product_2.xlsx")

NameError: name 'pd' is not defined

In [25]:
new_product.head()

             ProductName    Category Sub-Category
0        Adjustable Race  Components     Headsets
1           Bearing Ball  Components     Headsets
2        BB Ball Bearing  Components     Headsets
3  Headset Ball Bearings  Components     Headsets
4                  Blade  Components        Forks

In [26]:
null_product.head()

,ProductKey,ProductName,SubCategory,Category,DaysToManufacture,ProductLine,ModelName
0,1,Adjustable Race,NaN,NaN,0,NaN,NaN
1,2,Bearing Ball,NaN,NaN,0,NaN,NaN
2,3,BB Ball Bearing,NaN,NaN,1,NaN,NaN
3,4,Headset Ball Bearings,NaN,NaN,0,NaN,NaN
4,5,Blade,NaN,NaN,1,NaN,NaN

In [27]:
merged_df = pd.merge(null_product, new_product, how= "inner",on = 'ProductName')

In [32]:
merged_df.head()

,ProductKey,ProductName,DaysToManufacture,ModelName,Category,SubCategory
0,1,Adjustable Race,0,NaN,Components,Headsets
1,2,Bearing Ball,0,NaN,Components,Headsets
2,3,BB Ball Bearing,1,NaN,Components,Headsets
3,4,Headset Ball Bearings,0,NaN,Components,Headsets
4,5,Blade,1,NaN,Components,Forks

In [29]:
merged_df.drop(columns = ['SubCategory', 'Category_x',
       'ProductLine'], inplace= True)

In [31]:
merged_df.columns = ['ProductKey', 'ProductName', 'DaysToManufacture', 'ModelName',
       'Category', 'SubCategory']

In [33]:
merged_df.head()

,ProductKey,ProductName,DaysToManufacture,ModelName,Category,SubCategory
0,1,Adjustable Race,0,NaN,Components,Headsets
1,2,Bearing Ball,0,NaN,Components,Headsets
2,3,BB Ball Bearing,1,NaN,Components,Headsets
3,4,Headset Ball Bearings,0,NaN,Components,Headsets
4,5,Blade,1,NaN,Components,Forks

In [34]:
product.head()

,ProductKey,ProductName,SubCategory,Category,DaysToManufacture,ProductLine,ModelName
0,1,Adjustable Race,NaN,NaN,0,NaN,NaN
1,2,Bearing Ball,NaN,NaN,0,NaN,NaN
2,3,BB Ball Bearing,NaN,NaN,1,NaN,NaN
3,4,Headset Ball Bearings,NaN,NaN,0,NaN,NaN
4,5,Blade,NaN,NaN,1,NaN,NaN

In [35]:
product.drop(product.loc[product['SubCategory'].isnull() | product['Category'].isnull() | product['ProductLine'].isnull()].index, inplace=True)

In [36]:
len(product)

380

In [37]:
product.drop(columns = ['ProductLine'], inplace= True)

In [39]:
null_product.head()

,ProductKey,ProductName,SubCategory,Category,DaysToManufacture,ProductLine,ModelName
0,1,Adjustable Race,NaN,NaN,0,NaN,NaN
1,2,Bearing Ball,NaN,NaN,0,NaN,NaN
2,3,BB Ball Bearing,NaN,NaN,1,NaN,NaN
3,4,Headset Ball Bearings,NaN,NaN,0,NaN,NaN
4,5,Blade,NaN,NaN,1,NaN,NaN

In [40]:
updated_product = pd.concat([merged_df, product])

In [42]:
len(updated_product)

607

In [45]:
updated_product.tail()

,ProductKey,ProductName,DaysToManufacture,ModelName,Category,SubCategory
598,599,"Mountain-500 Black, 48",4,Mountain-500,Bikes,Mountain Bikes
599,600,"Mountain-500 Black, 52",4,Mountain-500,Bikes,Mountain Bikes
603,604,"Road-750 Black, 44",4,Road-750,Bikes,Road Bikes
604,605,"Road-750 Black, 48",4,Road-750,Bikes,Road Bikes
605,606,"Road-750 Black, 52",4,Road-750,Bikes,Road Bikes